.content-area {
	padding-top: 8px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	align-items: flex-start;
}
.site-main {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	padding: 0px;
	margin: 0px;    
	margin-left: 8px;
	align-items: flex-start;

	.mdl-card {
		margin-bottom: 8px;

		.mdl-card__title {
			border-bottom: 1px solid rgba(0,0,0,.1);
		}
	}

	header h3 {
		margin: 0;
		color: #fff;

		a {
			color: #fff;
			text-decoration: none;

			&:hover {

			}
		}
	}

	.post .mdl-card__title header h3 {
		font-size: 28px;
	}

	.mdl-card__media {
		box-sizing: border-box;
		background-size: cover;
		background-color: $color__dark-grey;
		padding: 24px;
		display: flex;
		flex-grow: 1;
		flex-direction: row;
		align-items: flex-end;
		cursor: pointer;
		height: 280px;

		header h3 {
			margin: 0;
			color: #fff;

			a {
				color: #fff;
				text-decoration: none;

				&:hover {

				}
			}
		}
	}

	.mdl-card__supporting-text {
		width: auto;
	}

	.meta {
		box-sizing: border-box;
		padding: 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		height: auto;

		.avatar,
		.entry-meta {
			display: flex;
			flex-direction: column;
	    }
	    .avatar-img {
	    	margin-right: 15px;

	    	img {
	    		border-radius: 50%;
	    	}
	    }

	   	.entry-meta {
		    a {
		    	text-decoration: none;
		    	color: #757575;
		    	font-size: 12px;
		    	line-height: 16px
		    }
		}

		.flat-meta {
			flex-direction: row;
		}
	}

	.meta-single-row {
		box-sizing: border-box;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 16px;
		padding-bottom: 0px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		height: auto;

		.entry-meta {
			margin-left: 16;
		    color: #757575;
    		font-size: 12px;

		    a {
		    	text-decoration: none;
		    }

			span {
		    	font-size: 12px;
		    	line-height: 16px;
			}
		}

		.flat-meta {
			flex-direction: row;
		}
	}
}

.single-post {
	.entry-content p {	
		font-size: 16px;
		line-height: 28px;

		img {
			width: auto;
			height : auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
	
	.entry-content h1 {	
		font-size: 36px;
		line-height: 44px;
	}
	
	.entry-content h2 {	
		font-size: 32px;
		line-height: 40px;
	}
	
	.entry-content h3 {	
		font-size: 28px;
		line-height: 36px;
	}
	
	.entry-content h4 {	
		font-size: 24px;
		line-height: 32px;
	}
	
	.entry-content h5 {	
		font-size: 20px;
		line-height: 28px;
	}
	
	.entry-content h6 {	
		font-size: 16px;
		line-height: 24px;
	}


}
.list-page-title-card {
	padding: 16px;
	min-height: 0;
	h1 {
		font-size: 32px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
}
.single,
.page {
	.mdl-card__media {
		cursor: default;
	}
}

.read-more-button {
	margin-bottom: -16px;
}